<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy3_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{165,261}</string>
                <key>textureRect</key>
                <string>{{0,0},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{165,261}</string>
                <key>textureRect</key>
                <string>{{165,0},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,260}</string>
                <key>spriteSourceSize</key>
                <string>{165,260}</string>
                <key>textureRect</key>
                <string>{{330,0},{165,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{165,261}</string>
                <key>textureRect</key>
                <string>{{495,0},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,260}</string>
                <key>spriteSourceSize</key>
                <string>{166,260}</string>
                <key>textureRect</key>
                <string>{{660,0},{166,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,261}</string>
                <key>spriteSourceSize</key>
                <string>{166,261}</string>
                <key>textureRect</key>
                <string>{{826,0},{166,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy3_down.png</string>
            <key>size</key>
            <string>{992,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5414d90934ea2fcca36719d99b037cbb:b64528b0b02d4521dcabe0b5a4ecb560:470aabbb3a95e7d7ce55b9fdeb46f501$</string>
            <key>textureFileName</key>
            <string>enemy3_down.png</string>
        </dict>
    </dict>
</plist>
