<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy3_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,258}</string>
                <key>spriteSourceSize</key>
                <string>{169,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{169,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,258}</string>
                <key>spriteSourceSize</key>
                <string>{169,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{169,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy3.png</string>
            <key>size</key>
            <string>{169,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1258d44322891221c7845e546187ab98:7770f9dcdc769a2c5d137a45c6b3cfdd:8bef6c65495a1b67faadf52aab9a7f06$</string>
            <key>textureFileName</key>
            <string>enemy3.png</string>
        </dict>
    </dict>
</plist>
