<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_loading1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,37}</string>
                <key>spriteSourceSize</key>
                <string>{186,37}</string>
                <key>textureRect</key>
                <string>{{186,0},{186,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,38}</string>
                <key>spriteSourceSize</key>
                <string>{186,38}</string>
                <key>textureRect</key>
                <string>{{372,0},{186,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{114,28}</string>
                <key>textureRect</key>
                <string>{{558,0},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_loading.png</string>
            <key>size</key>
            <string>{672,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:830116944f6719a55e243033780e54d4:d90b4d2eb654efb961ee48ed734581ae:37cbc8f7788a698a38651aab9760f809$</string>
            <key>textureFileName</key>
            <string>game_loading.png</string>
        </dict>
    </dict>
</plist>
